# Database connection details
RDB_HOST=""
RDB_USER=""
RDB_PASSWORD=""
RDB_NAME=""

# Full Markdown URL; set a layer-specific value in dev, QA, and production.
SITE_ANNOUNCEMENT_URL="https://raw.githubusercontent.com/CBIIT/CCDC_Static_Contents/dev/site_announcement_log.md"
